<head>
  <meta charset="utf-8"/>
  <meta name=viewport content="width=device-width,shrink-to-fit=0,user-scalable=no,minimum-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="No small talk. Meaningful conversations.">

  <!--<link rel="shortcut icon" href="{{"static/img/devi/devi.png" | prepend:site.baseurl }}">-->
  <link rel="shortcut icon" href="{{page.favicon}}">



  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{page.description}}">
  <!-- <meta name="description" content="{{page.title}}"> -->

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Questions by Devi Parikh"/>
  <meta property="og:url" content="https://questions.github.io/"/>
  <meta property="og:description" content="{{page.description}}"/>
  <meta property="og:site_name" content="Questions by Devi Parikh"/>
  <meta property="og:image" content="https://questions.github.io/static/img/questions.png"/>
  <meta property="og:image:url" content="https://questions.github.io/static/img/questions.png"/>
  <meta property="og:type" content="Webpage"/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Questions by Devi Parikh"/>
  <!--<meta name="twitter:description" content="{{site.description}}"/>-->
  <meta name="twitter:description" content="{{page.description}}"/>
  <meta name="twitter:image" content="https://questions.github.io/static/img/questions.png"/>
  <meta name="twitter:url" content="https://questions.github.io"/>
  

  <!-- CSS  -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ "static/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "static/css/main.css" | prepend:site.baseurl }}" media="screen,projection"> -->
  
  <link rel="stylesheet" type="text/css" href="{{ "static/css/questions.css" | prepend:site.baseurl }}" media="screen,projection">
  <!-- <link href="questions.css" rel="stylesheet" type="text/css"> -->
</head>

  
  <!--Open Graph Related Stuff-->
  <!--<meta property="og:title" content="{{page.title}}"/>-->
  <!--<meta property="og:url" content="{{page.permalink}}"/>-->
  <!--<meta property="og:site_name" content="{{page.title}}"/>-->
  <!--<meta property="og:image" content="{{page.favicon | prepend:site.baseurl }}"/>-->
  <!--<meta property="og:image:url" content="{{page.favicon | prepend:site.baseurl }}"/>-->

  <!--Twitter Card Stuff-->
  <!--<meta name="twitter:title" content="{{page.title}}"/>-->
  <!--<meta name="twitter:image" content="{{page.favicon | prepend:site.baseurl }}"/>-->
  <!--<meta name="twitter:description" content="{{site.description}}"/>-->
